@{
    ViewBag.Title = "Javascript desactivado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="divprincipal">
    <div class="content">
        <noscript>
           <h2>¡Advertencia! Javascript Desactivado</h2>
           <p>La página que estás viendo requiere para su funcionamiento el uso de JavaScript. Si lo desactivaste intecionalmente, por favor vuelve a activarlo.</p>
        </noscript>
    </div>
</div>
